$main-color: rgb(27, 35, 48);
$footer-color: rgb(11, 21, 36);
$heading-color: rgb(255, 255, 255);
$text-color: rgba(255, 255, 255,0.7);
$button-bgc-color: rgb(67, 181, 209);
$special-link-color: rgb(98, 224, 217);