.main{
  min-height: 2850px;
  max-height: 2850px;
  background-color: $main-color;
  background-image: url("../../img/bgc-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -140px 630px;
}
